<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>224335418506-7i0do6nb7m15d57ehsljq75ffgkoar23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224335418506-7i0do6nb7m15d57ehsljq75ffgkoar23</string>
	<key>API_KEY</key>
	<string>"INSERT YOUR GOOGLE API KEY HERE"</string>
	<key>GCM_SENDER_ID</key>
	<string>224335418506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BattleRoyale.Battle-Royale</string>
	<key>PROJECT_ID</key>
	<string>battle-royale-8e591</string>
	<key>STORAGE_BUCKET</key>
	<string>battle-royale-8e591.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:224335418506:ios:226cc9d350892572</string>
	<key>DATABASE_URL</key>
	<string>https://battle-royale-8e591.firebaseio.com</string>
</dict>
</plist>
